*
{

    font-family: monospace;
}

body
{
    height: 400px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D6DBDF;
}


h1
{   margin-top: 30px;
    margin-bottom: 30px;}


.is-completed {
    text-decoration: line-through;
  }


#taskForm   

{   
    height: 50px;
    width: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: white;
}


#taskList

{ 
    height: 200px;
    width: 260px;
    padding-left: 20px;
    background-color: white;
    padding-top: 10px;
    padding-right: 15px;

}


#taskInput
{
    border: none;
    background-color: #eff0f1;
    width: 270px;
    height: 35px;
    margin-right: -65px;
}




#deleteCompleted
{
    border: none;
    background-color: rgb(110, 190, 204);
    color: white;
    width: 130px;
    height: 35px;
    border-radius: 10px;
}


div{
    margin-bottom: 10p;
}

#button
{

    background-color: #ff3397;
    height:30px;
    color: white;
    width:45px;
    margin-left: 15px;
    border-radius: 5px;
    border:none;
}
