*
{

    font-family: monospace;
}

body
{
    height: 400px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D6DBDF;
}


h1
{   margin-top: 30px;
    margin-bottom: 30px;}


.is-completed {
    text-decoration: line-through;
  }


#taskForm   

{   align-items: center;
    height: 50px;
    width: 300px;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    display: flex;
}


#taskList

{   align-items: center;
    height: 50px;
    width: 260px;
    justify-content: center;
    background-color: white;

}


#taskInput
{
    border: none;
    background-color: #eff0f1;
    width: 180px;
    height: 35px;
    margin-right: 20px;

}




#deleteCompleted
{
    border: none;
    background-color: rgb(110, 190, 204);
    color: white;
    width: 130px;
    height: 35px;
    border-radius: 10px;
}




#button
{

    background-color: #ff3397;
    height:20px;
    color: white;
    width:60px;
    
    border-radius: 5px;
    border:none;
}
